body {
    background-color: white; /* Fondo azul marino */
    color: black; /* Letra blanca */
}
.dark-mode body {
    background-color: #121212; /* Fondo azul marino */
    color: white; /* Letra blanca */
}


.navbar {
    background-color: white; /* Barra de navegación azul marino */
    color: black;
    padding: 1em;
}
.dark-mode .navbar {
    background-color: #121212; /* Barra de navegación azul marino */
    color: rgb(253, 253, 253);
}
.navbar-brand{
    color: rgb(0, 0, 0);
}
.dark-mode .navbar-brand{
    color: rgb(243, 243, 243);
}
a{
    color: rgb(0, 0, 0);
}
.dark-mode a{
    color: rgb(243, 243, 243);
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0); /* Enlaces de la barra de navegación en blanco */
}
.dark-mode.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255); /* Enlaces de la barra de navegación en blanco */
}
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg' fill='%23000000'%3e%3cpath stroke='%23ff0000' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    
}


.btn-primary {
    background-color: #42b69b; /* Botones con color de fondo azul */
    border-color: #90e7a6; /* Color del borde de los botones */
}
.dark-mode .btn-primary {
    background-color: #A43931; /* Botones con color de fondo azul */
    border-color: #1D4350; /* Color del borde de los botones */
}



.btn-primary:hover {
    background-color: #dba27d; /* Cambio de color al pasar el mouse por encima */
    border-color: #df474f; /* Cambio de color del borde al pasar el mouse por encima */
}

.jumbotron {
    background: linear-gradient(to right, #005AA7, #FFFDE4); /* Fondo de la sección jumbotron azul marino */
    color: black; /* Texto en la sección jumbotron en blanco */
    padding-bottom: 0;
    display: block;
}
.dark-mode .jumbotron {
    background:  linear-gradient(to right, #1D4350, #A43931); /* Fondo de la sección jumbotron en modo oscuro */
    color: #ffffff; /* Texto en la sección jumbotron en modo oscuro */
}


.wave path {
    fill: #fff; /* Color del SVG en modo claro */
}

.btn-dark {
    background-color: #333; /* Cambia el color de fondo del botón a rojo */
    border-color: #0e0e0e; /* Cambia el color del borde del botón a rojo */
    color: #ffffff; /* Cambia el color del texto del botón a blanco */
}
.dark-mode .btn-dark {
    background-color: #ffffff; /* Cambia el color de fondo del botón a rojo oscuro al pasar el mouse */
    border-color: #8b8b8b; /* Cambia el color del borde del botón a rojo oscuro al pasar el mouse */
    color: #000000;
}

.btn-dark:hover {
    background-color: #ffffff; /* Cambia el color de fondo del botón a rojo oscuro al pasar el mouse */
    border-color: #8b8b8b; /* Cambia el color del borde del botón a rojo oscuro al pasar el mouse */
    color: #000000;
}
.dark-mode .btn-dark:hover {
    background-color: #333; /* Cambia el color de fondo del botón a rojo */
    border-color: #0e0e0e; /* Cambia el color del borde del botón a rojo */
    color: #ffffff; /* Cambia el color del texto del botón a blanco */
}




.social-btn {
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.social-btn:hover {
  transform: scale(1.5);
}

.social-btn:hover .social-name {
  display: block;
}

.social-name {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.spotify-btn {
  background-color: #1ED760;
}

.github-btn {
  background-color: #24292E;
}

.instagram-btn {
  background-color: #E4405F;
}

.whatsapp-btn {
  background-color: #25D366;
}

.social-icon {
  font-size: 30px;
  color: #fff;
}
.col-md-3{
  position: relative;
  width: auto;
  align-items: center;
}

footer {
  margin-top: 5em;
  text-align: center;
  background-color: #f8f9fa;
}









.dark-mode {
    background-color: #121212;
    color: white; /* Letra blanca */ 
}
.dark-mode .wave path {
    fill: #121212; /* Color del SVG en modo oscuro */
}
.dark-mode .text-center{
    color: #fff; /* Color del SVG en modo claro */
}
.dark-mode .card-img-top {
    background-color: #333; /* Cambia el fondo de la imagen a transparente con 50% de opacidad */
}

.dark-mode .card-body {
    background-color: #333; /* Cambia el color del texto dentro del card */
    color: #fff;
    border-color: #333;
}
